/* body{
    margin: 0;
    padding: 0;
} */
/* CLEARFIX class */
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
header{

}
.header{
    /* padding: 10px; */
    background-color: aqua;
    /* min-height: 100px; */
}
.nav{background-color: bisque;  overflow: hidden; width: 100%; box-sizing: border-box; text-align: center;}
nav ul{background-color: rgb(153, 115, 69); margin: 0 -2%; box-sizing: border-box; max-width: 1200px;}
nav ul li{
    display: inline-block;
    background-color: rgb(81, 28, 124);
    padding: 5px 0;
    margin: 2%;
    width: 20%;
    
    box-sizing: border-box;
}

.qq{
    background-color: blueviolet;
}
